<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" >
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>

<h3>Contact List</h3>
<ul>
    <li th:each="email:${contactList}"><span th:text="${email}"></span></li>
</ul>
<hr>
<a th:href="@{/contact}">Back to Add Contact</a>



<footer th:replace="fragments/footer :: footer_fragment">
</footer>
</body>
</html>