<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" >
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<style>

    body{
        background-color: #343a40;
    }
</style>
<body>

<nav th:insert="fragments/navbar :: nav_fragment"></nav>



<header class="my-4 py-4 bg-warning text-secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1><span th:text="#{lbl.contacts}"></span> </h1>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header bg-warning text-secondary">
                        <h4><span th:text="#{contact.header}"></span></h4>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/contact}" method="post">
                            <div class=>
                                <label class="justify-content-start" for="contactInfo"><span th:text="#{lbl.name}"></span>:</label>
                                <input type="text" class="form-control" id="contactInfo" placeholder="Enter Contact Info" name="contactInfo">
                                <br>
                                <button type="submit" class="btn btn-warning">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center bg-warning text-secondary mb-3">
                    <div class="card-body">
                        <h3><span th:text="#{contactList.header}"></span></h3>
                        <br>
                        <a th:href="@{/contactList}" class="btn btn-outline-light btn-sm"><span th:text="#{btn.ret}"></span> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<footer th:replace="fragments/footer :: footer_fragment">
</footer>



</body>
</html>